aiohttp
anytree
asgiref
asyncio
beautifulsoup4
bencode.py
bencoding
cfscrape
cloudscraper
dnspython
feedparser
flask
gc-python-utils
cinemagoer
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml
markdown
mediainfo
pillow
playwright
psutil
pybase64
pycountry
pymongo
pyrogram
python-dotenv
python-magic
python-telegram-bot==13.15
requests
telegraph
tenacity
tgCrypto
urllib3
waybackpy
xattr
git+https://github.com/johnm258096/amriac2mp
git+https://github.com/johnm258096/qmbittomrrent-ampi
git+https://github.com/johnm258096/ymt-dmlp
git+https://github.com/johnm258096/speemdtemst-cmli
